.form-control {
   border: none !important;
   border-radius: 0;
  
}
.form-control:focus{
   border:none;
   outline: none;
   box-shadow: none;
}
.addTodo{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 63vh;
}
.addTodo h1{
   color: #404040;
   padding: 10px 0;
}
.todoForm{
   width: 480px;
   margin: 30px auto 20px auto;
}
.todoStyle{
   margin: 20px 0;
   background: #fff;
   padding: 15px;
   border-radius: 7px;
   box-shadow: 0 1px 5px rgb(138 137 137);
}
.dateStyle{
  
   background: #fff;
   padding: 15px;
   border-radius: 7px;
   box-shadow: 0 1px 5px rgb(138 137 137);
}
